<!DOCTYPE html>
<html lang="<%= config.language %>" class="h-full">

<%- partial('_partials/head') %>

<body class="flex flex-col min-h-full bg-gray-100">

  <%- partial('_partials/nav') %>

  <div>
    <div class="flex flex-col md:flex-row flex-warp h-full max-w-6xl mx-auto py-6 px-4 lg:px-8 md:space-x-10">
      <main class="w-full md:w-2/3 mx-auto rounded-lg">
        <% if(is_home() || is_category() || is_tag() || is_archive()){ %>
          <%- body %>
        <% } else { %>
          <div class="px-4 md:px-10 py-6 mb-6 bg-white rounded-lg shadow-md">
            <%- body %>
          </div>
          <% if(theme.comment && is_post()){ %>
            <div class="px-4 md:px-4 py-6 mb-6 bg-white rounded-lg shadow-md" id="comments">
              <%- partial('_widgets/comments') %>
            </div>
          <% } %>
        <% } %>
      </main>

      <aside class="flex flex-col w-full md:w-1/3 space-y-6">
        <%- partial('_widgets/about') %>
        <%- partial('_widgets/categories') %>
        <%- partial('_widgets/archives') %>
        <% if(is_post()){ %>
          <%- partial('_widgets/toc') %>
        <% } %>
      </aside>
    </div>
  </div>

  <%- partial('_partials/footer') %>

</body>
</html>
